<main>
  <app-add-form></app-add-form>

  <section class="flex flex-col space-y-5 mt-2.5">
    @for (t of todoService.TodoArray; track t.id) {
    <div
      class="animate-enter animate-leave flex w-[500px] items-center border p-3 rounded-md justify-between select-none capitalize cursor-pointer"
      id="t.id"
    >
      <div
        (click)="t.done = !t.done"
        class="flex justify-between items-center w-full p-2.5 h-full"
      >
        <p-check-box
          [value]="t"
          [inputId]="t.id + ''"
          [(ngModel)]="t.done"
          binary="true"
        />
        <label
          [for]="t.id"
          [ngClass]="t.done ? 'line-through text-gray-500' : ''"
        >
          {{ t.text }}
        </label>
        <span>{{ t.date | date }}</span>
      </div>

      <div class="flex gap-2">
        <app-edit-form [todo]="t"></app-edit-form>
        <button
          badgeSeverity="warning"
          pButton
          icon="pi pi-trash"
          size="small"
          class="hover:bg-red-400! hover:text-white!"
          (click)="onDeleteTodo(t.id!)"
        >
          delete
        </button>
      </div>
    </div>
    }
  </section>
  <p-toast />
</main>
