<main>
  @if (EditTodo()) {
  <button
    pButton
    icon="pi pi-pencil"
    size="small"
    class="hover:bg-blue-400! hover:text-white!"
    (click)="visible = true"
  >
    Edit
  </button>
  }@else{
  <button pButton class="w-fit" icon="pi pi-plus" (click)="visible = true">
    Add Todo
  </button>
  }

  <p-drawer [(visible)]="visible">
    <ng-template #header>
      <h1 class="text-2xl">@if (EditTodo()) { Edit Todo }@else { Add Todo }</h1>
    </ng-template>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="flex flex-col justify-between h-full"
    >
      <div class="flex flex-col space-y-3">
        <label>what u need to do ?</label>
        <input
          pInputText
          type="text"
          formControlName="text"
          [invalid]="isInvalid('text')"
        />
        <label>When u need to do it ?</label>
        <p-date-picker formControlName="date" [invalid]="isInvalid('date')" />
      </div>
      <button type="submit" pButton>Save</button>
    </form>
  </p-drawer>
  <p-toast />
</main>
